body {
    background-color: rgb(214, 233, 250);
}

hr {
    border-color: gray;
    border-style: dotted none none;
    border-width: 7px;
    width: 3%;
}

h1, h3 {
    color: #66bfbf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}