body {
    background-color: orchid;
}

hr {
    background-color: transparent;
    border-color: gray;
    border-style: dotted none none none;
    border-width: 10px;
    height: 7px;
    width: 10%;
}