body {
    margin: 0;
    text-align: center;
    font-family: 'Righteous', cursive;
}

h1 {
    font-size: 5em;
    margin: 50px auto 0 auto;
    width: 40%;
    font-family: 'Sigmar One', cursive;
    color: #66bfbf;
}

h2 {
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
}

h3, a {
    color: #11999e;
}

hr {
    border-style: dotted none none;
    border-color: gray;
    width: 10%;
    border-width: 5px;
    margin: auto;
    clear: right;
    padding-bottom: 20px;
}

a {
    
}

/****************************************** CLASS SELECTORS *******************************/
/****************************************** CLASS SELECTORS *******************************/
/****************************************** CLASS SELECTORS *******************************/

/* https://colorhunt.co/palette/170044 */
.top-container {
    background-color: #f1fcfc;
    position: relative;
    padding-top: 100px;
}

.middle-container hr {
    margin-top: 80px;
    margin-bottom: 20px;
}

.bottom-container {
    padding-top: 100px;
    background-color: #b2e1e2;
    position: relative;
}


.sacramento {
    font-family: 'Sigmar One', cursive;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 450px;
}

.code-img {
    width: 25%;
    float: left;
    padding-right: 30px;
}

.computer-img {
    width: 25%;
    float: right;
    padding-left: 30px;
    margin: auto 0 50px auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.credit {
    font-size: 0.6rem;
    text-align: end;
    margin-top: 76px;
}

.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #c8e7eb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c8e7eb;
	box-shadow:inset 0px 1px 0px 0px #c8e7eb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #44f6fc), color-stop(1, #a2a8eb) );
	background:-moz-linear-gradient( center top, #44f6fc 5%, #a2a8eb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44f6fc', endColorstr='#a2a8eb');
	background-color:#44f6fc;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0px;
	border:2px solid #c1d0e6;
	display:inline-block;
	color:#fafafa;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:200px;
	text-decoration:none;
	text-align:center;
    text-shadow:1px 1px 0px #69747a;
    margin: 40px 0 140px 0;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a2a8eb), color-stop(1, #44f6fc) );
	background:-moz-linear-gradient( center top, #a2a8eb 5%, #44f6fc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2a8eb', endColorstr='#44f6fc');
	background-color:#a2a8eb;
}.classname:active {
	position:relative;
	top:1px;
}

.footer-link {
    color: #11999E;
    margin: auto;
    position: relative;
    padding-left: 20px;

}

.copyright {
    margin: auto;
    padding: 50px 0 50px 0;
}
/************************************** ID SELECTORS *************************************/
/************************************** ID SELECTORS *************************************/
/************************************** ID SELECTORS *************************************/

#mountain {
    margin-top: 200px;
}